@page
@model WebAssForUna.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="divs">
    <h2>Welcome to the dating website</h2>
    <a type="submit" href="DatingForm">Sign up!!</a>

</div>